.row{
    margin: 20px auto;

}
.aboutus{
    width: 65%;
margin: 30px auto;
background: gray;
border-radius: 5px;
font-size: larger;
text-align: left;
}
.contactus{
        width: 65%;
margin: 30px auto;
background:black;
border-radius: 5px;
font-size: larger;
text-align: left;
color: white;
}
.card{
    margin: 20px auto;
  
}
.singupb{
    margin-top: 2px;
    background-color: #28a745;
    color: wheat;
    padding: 8 px 12 px;
    border-radius: 5px;
    text-decoration: none;
    
}
.singupb:hover{
    background-color: #218838;
}
.mb-3{
    width: 50%;
    margin: 20px auto;
   
}
.bor{
      width: 50%;
    margin: 20px auto;
    border: 1px solid blue;
}